[submodule "html5slides-uulm"]
	path = html5slides-uulm
	url = https://github.com/berb/html5slides-uulm.git
[submodule "reveal.js"]
	path = reveal.js
	url = https://github.com/hakimel/reveal.js.git
[submodule "zoom.js"]
	path = zoom.js
	url = https://github.com/hakimel/zoom.js.git
